body
{
    background-color: #fbd361;
}
h1
{
    background-color: white;
    color: cyan;
}
#show_sketch
{
    float: right;
    margin-top: 2px;
}
canvas
{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    animation-name: example;
    margin-top: 100px;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes example
{
    from  {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px blue;}
}
p
{
    padding-top: 10px;
    font-size: 25px;
}